#HHLogo {
  width: 35%;
  /* height: 100px; */
  display: 'flex';
  align-items: center;
  /* margin-bottom: 2em; */
}

.lead-box {
  border: 1px solid black;
  padding: 10px;
}

.lead-box-row {
  border-bottom: 1px solid black;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.lead-button-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.lead-box-header {
  display: flex;
  justify-content: right;
  gap: 5px;
}

.page-select {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.page-select ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.page-select li {
  margin-right: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.page-select li.active {
  background-color: #ccc;
  color: white;
}
